/OHTTaxSupportApplication/OHTTaxSupportApplication.Common/bin
/OHTTaxSupportApplication/OHTTaxSupportApplication.Common/obj
/OHTTaxSupportApplication/OHTTaxSupportApplication.Data/bin
/OHTTaxSupportApplication/OHTTaxSupportApplication.Data/obj
/OHTTaxSupportApplication/OHTTaxSupportApplication.Model/bin
/OHTTaxSupportApplication/OHTTaxSupportApplication.Model/obj
/OHTTaxSupportApplication/OHTTaxSupportApplication.Service/bin
/OHTTaxSupportApplication/OHTTaxSupportApplication.Service/obj
/OHTTaxSupportApplication/OHTTaxSupportApplication.UnitTest/bin
/OHTTaxSupportApplication/OHTTaxSupportApplication.UnitTest/obj
/OHTTaxSupportApplication/OHTTaxSupportApplication.Web/bin
/OHTTaxSupportApplication/OHTTaxSupportApplication.Web/obj
/OHTTaxSupportApplication/packages
