
@{
    ViewBag.Title = "Tax category setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-4">
        <div class="widget-box ui-sortable-handle" id="oht-panel-form">
            <div class="widget-header">
                <h5 class="widget-title oht-new-mode">Add new tax category</h5>
                <h5 class="widget-title oht-edit-mode">Update tax category</h5>
                <div class="widget-toolbar">
                    <a onClick="refreshForm();">
                        <i class="ace-icon fa fa-refresh"></i>
                    </a>

                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>

            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <form class="" id="oht-form">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="number" class="form-control oht-key" id="oht-TaxCategory-ID" disabled="disabled" placeholder="Auto increment">
                        </div>
                        <div class="form-group">
                            <label>Category name</label>
                            <input type="text" class="form-control" id="oht-TaxCategory-Value">
                        </div>
                        <div class="form-group">    
                            <p class="text-danger" id="oht-error-message"></p>
                            <button class="btn btn-sm btn-success" type="button" onclick="saveItem()">Save Changes</button>&nbsp;
                            <button class="btn btn-sm btn-default oht-edit-mode" type="button" onclick="cancel()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">
                    <i class="ace-icon fa fa-table"></i>
                    List tax categories
                </h5>

                <div class="widget-toolbar widget-toolbar-light no-border">
                    <select id="simple-colorpicker-1" class="hide">
                        <option selected="" data-class="blue" value="#307ECC">#307ECC</option>
                        <option data-class="blue2" value="#5090C1">#5090C1</option>
                        <option data-class="blue3" value="#6379AA">#6379AA</option>
                        <option data-class="green" value="#82AF6F">#82AF6F</option>
                        <option data-class="green2" value="#2E8965">#2E8965</option>
                        <option data-class="green3" value="#5FBC47">#5FBC47</option>
                        <option data-class="red" value="#E2755F">#E2755F</option>
                        <option data-class="red2" value="#E04141">#E04141</option>
                        <option data-class="red3" value="#D15B47">#D15B47</option>
                        <option data-class="orange" value="#FFC657">#FFC657</option>
                        <option data-class="purple" value="#7E6EB0">#7E6EB0</option>
                        <option data-class="pink" value="#CE6F9E">#CE6F9E</option>
                        <option data-class="dark" value="#404040">#404040</option>
                        <option data-class="grey" value="#848484">#848484</option>
                        <option data-class="default" value="#EEE">#EEE</option>
                    </select><div class="dropdown dropdown-colorpicker">		<a data-toggle="dropdown" class="dropdown-toggle" data-position="auto" href="#" aria-expanded="false"><span class="btn-colorpicker" style="background-color: rgb(48, 126, 204);"></span></a><ul class="dropdown-menu dropdown-caret dropdown-menu-right"><li><a class="colorpick-btn selected" href="#" style="background-color:#307ECC;" data-color="#307ECC"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#5090C1;" data-color="#5090C1"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#6379AA;" data-color="#6379AA"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#82AF6F;" data-color="#82AF6F"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#2E8965;" data-color="#2E8965"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#5FBC47;" data-color="#5FBC47"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#E2755F;" data-color="#E2755F"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#E04141;" data-color="#E04141"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#D15B47;" data-color="#D15B47"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#FFC657;" data-color="#FFC657"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#7E6EB0;" data-color="#7E6EB0"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#CE6F9E;" data-color="#CE6F9E"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#404040;" data-color="#404040"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#848484;" data-color="#848484"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#EEE;" data-color="#EEE"></a></li></ul></div>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <div class="table-reponsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="oht-th-id">ID</th>
                                    <th>Category</th>
                                    <th class="oht-th-action">Action</th>
                                </tr>
                            </thead>
                            <tbody id="oht-result-data"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts{
    <script src="~/Scripts/app/tax-category.js"></script>

    <script>
        $(function () {
            $('.oht-edit-mode').hide();
            refreshData();
            $('#simple-colorpicker-1').ace_colorpicker({pull_right:true}).on('change', function(){
                var color_class = $(this).find('option:selected').data('class');
                var new_class = 'widget-box';
                if(color_class != 'default')  new_class += ' widget-color-'+color_class;
                $(this).closest('.widget-box').attr('class', new_class);
            });


        })
    </script>
}
