@{
    ViewBag.Title = "Invoice Input History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <p>
            <a href="/InvoiceInput/InvoiceInputV2" class="btn btn-success btn-sm">Add new</a>
        </p>
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">
                    <i class="ace-icon fa fa-table"></i>
                    List invoices
                </h5>

                <div class="widget-toolbar widget-toolbar-light no-border">
                    <select id="simple-colorpicker-1" class="hide">
                        <option selected="" data-class="blue" value="#307ECC">#307ECC</option>
                        <option data-class="blue2" value="#5090C1">#5090C1</option>
                        <option data-class="blue3" value="#6379AA">#6379AA</option>
                        <option data-class="green" value="#82AF6F">#82AF6F</option>
                        <option data-class="green2" value="#2E8965">#2E8965</option>
                        <option data-class="green3" value="#5FBC47">#5FBC47</option>
                        <option data-class="red" value="#E2755F">#E2755F</option>
                        <option data-class="red2" value="#E04141">#E04141</option>
                        <option data-class="red3" value="#D15B47">#D15B47</option>
                        <option data-class="orange" value="#FFC657">#FFC657</option>
                        <option data-class="purple" value="#7E6EB0">#7E6EB0</option>
                        <option data-class="pink" value="#CE6F9E">#CE6F9E</option>
                        <option data-class="dark" value="#404040">#404040</option>
                        <option data-class="grey" value="#848484">#848484</option>
                        <option data-class="default" value="#EEE">#EEE</option>
                    </select><div class="dropdown dropdown-colorpicker">		<a data-toggle="dropdown" class="dropdown-toggle" data-position="auto" href="#" aria-expanded="false"><span class="btn-colorpicker" style="background-color: rgb(48, 126, 204);"></span></a><ul class="dropdown-menu dropdown-caret dropdown-menu-right"><li><a class="colorpick-btn selected" href="#" style="background-color:#307ECC;" data-color="#307ECC"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#5090C1;" data-color="#5090C1"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#6379AA;" data-color="#6379AA"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#82AF6F;" data-color="#82AF6F"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#2E8965;" data-color="#2E8965"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#5FBC47;" data-color="#5FBC47"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#E2755F;" data-color="#E2755F"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#E04141;" data-color="#E04141"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#D15B47;" data-color="#D15B47"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#FFC657;" data-color="#FFC657"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#7E6EB0;" data-color="#7E6EB0"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#CE6F9E;" data-color="#CE6F9E"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#404040;" data-color="#404040"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#848484;" data-color="#848484"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#EEE;" data-color="#EEE"></a></li></ul></div>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <div class="frmFilter" style="padding:10px 0;">
                        <div class="col-xs-12">
                            <p>Filter by date created:</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    From date:
                                </span>
                                <input type="date" id="txtFromDate" name="txtFromDate" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class='hidden-lg hidden-md hidden-sm'><div style='clear:both;width:100%;height:10px;'></div></div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right:30px;">
                                    To date:
                                </span>
                                <input type="date" id="txtToDate" name="txtToDate" class="form-control" aria-label="...">
                            </div>
                        </div>
                        <div class='hidden-lg hidden-md hidden-sm'><div style='clear:both;width:100%;height:10px;'></div></div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <button type="button" id="btnSearch" name="btnSearch" class="btn btn-warning btn-sm">Search</button>
                            <button type="button" id="btnReset" name="btnReset" class="btn btn-default btn-sm">Reset</button>
                            <button type="button" id="btnReport" name="btnReport" class="btn btn-danger btn-sm pull-right">Export Report</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="table-reponsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>In/Out</th>
                                    <th>Customer</th>
                                    <th>Total NET.€</th>
                                    <th>Tax value</th>
                                    <th class="oht-th-action">Action</th>
                                </tr>
                            </thead>
                            <tbody id="oht-result-data"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section styles{
    <link href="~/Content/printModal.css" rel="stylesheet" />
}

@section scripts{
    <!-- Modal -->
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Export report</h4>
                </div>
                <div class="modal-body">
                    <p><b>From date: </b><span id="lblFromDate"></span></p>
                    <p><b>To date: </b><span id="lblToDate"></span></p>
                    <hr />
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody id="report-content">
                                <tr>
                                    <th>Chi phí hàng tháng</th>
                                    <th>Total: 100.00 €</th>
                                </tr>
                                <tr>
                                    <td class="text-right">xang xe</td>
                                    <td>1200 €</td>
                                </tr>
                                <tr>
                                    <th>Doanh thu</th>
                                    <th>Total: 100.00 €</th>
                                </tr>
                                <tr><td class="text-right">xang xe</td><td>1200 €</td></tr>
                                <tr>
                                    <th>ket qua dong (vari.)</th>
                                    <th>100.00 €</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnPrint" class="btn btn-primary" onClick="window.print();return false">Print</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/app/invoice.js"></script>

    <script>
        $(function () {
            refreshData();
            $('#simple-colorpicker-1').ace_colorpicker({ pull_right: true }).on('change', function () {
                var color_class = $(this).find('option:selected').data('class');
                var new_class = 'widget-box';
                if (color_class != 'default') new_class += ' widget-color-' + color_class;
                $(this).closest('.widget-box').attr('class', new_class);
            });

        });

        (function ($) {
            $(document).ready(function () {
                $('.modal').on('shown.bs.modal', function () {
                    $('.modal,.modal-backdrop').addClass('toPrint');
                    $('body').addClass('non-print');
                });
                $('.modal').on('hidden.bs.modal', function () {
                    $('.modal,.modal-backdrop').removeClass('toPrint');
                    $('body').removeClass('non-print');
                });
            });
        })(jQuery);
    </script>
}
