<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="helper.handsomerrot@gmail.com"/>
  <add key="FromEmailPassword" value="Abcde12345-"/>
  <add key="FromName" value="OHT Tax Support Application"/>
  <add key="AdminEmail" value="helper.handsomerrot@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:55429/"/>
  <add key="EnableBundles" value="false"/>

</appSettings>