<connectionStrings>
  <clear />
  <add name="OHTTaxSupport_dbContext" providerName="System.Data.SqlClient" connectionString="Data Source=H2790484\SQLEXPRESS;Initial Catalog=OHTTaxSupportApplication;Integrated Security=False;User Id=sa;Password=abcde12345-;Connect Timeout=15;Encrypt=False;Packet Size=4096;MultipleActiveResultSets=True" />
</connectionStrings>