
@{
    ViewBag.Title = "All Configs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <p>
        <a class="btn btn-success" href="/Products">Products</a>
        <a class="btn btn-success" href="/Units">Units</a>
    </p>
    <p>
        <a class="btn btn-primary" href="/Customers">Customers</a>
        <a class="btn btn-primary" href="/CustomerTypes">Customer types</a>
        <a class="btn btn-primary" href="/Companies">Companies</a>
        <a class="btn btn-primary" href="/Departments">Departments</a>
    </p>
    <p>
        <a class="btn btn-warning" href="/Users">Users</a>
        <a class="btn btn-warning" href="/Accounts">Accounts</a>
        <a class="btn btn-warning" href="/UserAccounts">User Accounts</a>
    </p>
    <p class="">
        <a class="btn btn-danger" href="/TaxValues">Tax values</a>
        <a class="btn btn-danger" href="/TaxCategories">Tax categories</a>
        <a class="btn btn-danger" href="/TaxTypes">Tax types</a>
    </p>
</div>
